Repository chump29/sober: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

docs: add badges docs: add build script build: cache PNPM store
  .gitea/workflows/build.yaml
  .gitignore
  .vscode/settings.json
  biome.json
  docs.sh
  docs/README.sh
  docs/README.template.md
  package.json
  pnpm-lock.yaml
  src/components/dashboard/index.tsx
  src/components/settings/index.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

build: use bun, configs chore: update packages style: use mantine
  .dockerignore
  .env
  .env.test
  .gitea/workflows/build.yaml
  .gitignore
  .husky/post-commit
  .husky/pre-commit
  .npmrc
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  biome.json
  build.sh
  bun.lock
  compose.yaml
  docker.sh
  docs.sh
  docs/README.sh
  docs/README.template.md
  package.json
  packages.sh
  patches/@jarrodek%2Fpluralize@1.0.2.patch
  pnpm-lock.yaml
  public/sober.png
  public/sober.webp
  src/components/shared/index.tsx
  src/components/shared/schemas.ts
  src/dom-setup.d.ts
  src/jest-dom.d.ts
  src/main.tsx
  src/setup.ts
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

refactor: entire page
  .dockerignore
  .env
  .gitignore
  README.md
  bun.lock
  docs/README.sh
  docs/README.template.md
  index.css
  index.html
  package.json
  patches/@jarrodek%2Fpluralize@1.0.2.patch
  public/sober.webp
  src/components/coin/index.test.tsx
  src/components/coin/index.tsx
  src/components/cost/index.test.tsx
  src/components/cost/index.tsx
  src/components/dashboard/index.test.tsx
  src/components/dashboard/index.tsx
  src/components/display/index.css
  src/components/display/index.tsx
  src/components/settings/index.test.tsx
  src/components/settings/index.tsx
  src/components/shared/ISoberDate.ts
  src/components/shared/displayStore.ts
  src/components/shared/index.test.tsx
  src/components/shared/index.tsx
  src/components/shared/schemas.ts
  src/main.tsx
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

feat: add coin feat: add cost
  .husky/pre-commit
  bun.lock
  package.json
  src/components/display/index.css
  src/components/display/index.tsx
  src/components/shared/displayStore.ts
  src/components/shared/interfaces/ICoin.ts
  src/components/shared/interfaces/IDisplay.ts
  src/components/shared/interfaces/ISoberDate.ts
  src/components/shared/schemas.ts
  src/main.tsx
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, stylelint --fix

fix: cspell config search
  package.json
Due: biome check --write --no-errors-on-unmatched

fix: async/await test: add shared
  .gitea/workflows/build.yaml
  bun.lock
  package.json
  src/components/display/index.tsx
  src/components/shared/index.tsx
  src/main.tsx
  test/dom-setup.ts
  test/jest-dom.d.ts
  test/setup.ts
  test/shared/displayStore.test.ts
  test/shared/index.test.ts
  test/shared/interfaces/ICoin.test.ts
  test/shared/interfaces/IDisplay.test.ts
  test/shared/interfaces/ISoberDate.test.ts
  test/shared/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched

ci: test
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: copy cspell config
  .gitea/workflows/build.yaml
  package.json
Due: biome check --write --no-errors-on-unmatched

ci: use cspell action
  .gitea/workflows/build.yaml
  package.json
Due: biome check --write --no-errors-on-unmatched

ci: copy cspell config
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: fix path
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: remove cspell
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

fix: savings is now days*cost/7 ci: add cspell back in, link configs
  .gitea/workflows/build.yaml
  README.md
  package.json
  src/components/display/index.tsx
  src/components/shared/displayStore.ts
  src/components/shared/interfaces/ICost.ts
  src/components/shared/interfaces/IDisplay.ts
  test/shared/displayStore.test.ts
  test/shared/interfaces/ICost.test.ts
  test/shared/interfaces/IDisplay.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages test: add remaining fix: linting feat: add logo
  .gitea/workflows/build.yaml
  README.md
  bun.lock
  index.css
  index.html
  package.json
  src/components/display/index.css
  src/components/display/index.tsx
  src/components/shared/displayStore.ts
  src/components/shared/index.tsx
  src/components/shared/interfaces/ICustomCloseButtonProps.ts
  src/components/shared/interfaces/IDisplay.ts
  src/components/shared/schemas.ts
  src/main.tsx
  test/components/display/index.test.tsx
  test/components/shared/displayStore.test.ts
  test/components/shared/index.test.ts
  test/components/shared/interfaces/ICoin.test.ts
  test/components/shared/interfaces/ICost.test.ts
  test/components/shared/interfaces/ICustomCloseButtonProps.test.ts
  test/components/shared/interfaces/IDisplay.test.ts
  test/components/shared/interfaces/ISoberDate.test.ts
  test/components/shared/schemas.test.ts
  tsconfig.json
  vite.config.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

feat: reset localStorage if error deserializing
  README.md
  src/components/display/index.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: error on deserialization
  README.md
  src/components/display/index.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages docs: add badge
  README.md
  bun.lock
  docs/README.sh
  docs/README.template.md
  package.json
  src/components/display/index.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

docs: refresh
  README.md
Due: markdownlint --fix

chore: update packages refactor: move defaultSoberDate
  README.md
  bun.lock
  package.json
  src/components/display/index.tsx
  src/components/shared/interfaces/ISoberDate.ts
  test/components/shared/interfaces/ISoberDate.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

docs: update badges [no ci]
  backend/README.md
  frontend/README.md
Due: markdownlint --fix

fix: remove apiUnavailable docs: update tests: update for frontend
  backend/api.py
  docs/README-frontend.template.md
  docs/README.sh
  frontend/README.md
  frontend/TODO.md
  frontend/bun.lock
  frontend/index.css
  frontend/index.html
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.css
  frontend/src/components/Display/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/utils/displayStore.ts
  frontend/src/utils/interfaces/IDisplay.ts
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/utils/displayStore.test.ts
  frontend/tests/utils/interfaces/IDisplay.test.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

chore: update packages test: add more docs: update badges [no ci]
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/api.py
  backend/features/api.test.feature
  backend/features/environment.py
  backend/features/steps/api.test.py
  backend/pyproject.toml
  backend/test.sh
  backend/uv.lock
  frontend/.env.test
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/tests/components/Display/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: lockfile
  frontend/bun.lock
Due: none

fix: serve warning [no ci]
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched

revert: hiding Stack causes render error in prod
  frontend/src/components/Display/index.tsx
Due: biome check --write --no-errors-on-unmatched

ci: remove check dependency
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: run checks synchronously
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

revert: runner1 is SO much faster
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

fix: nginx config revert: add showCounter
  frontend/nginx.conf
  frontend/src/components/Display/index.tsx
Due: biome check --write --no-errors-on-unmatched

style: remove borders from all buttons docs: update coverage fix: allow substance name to be empty string by default fix: DateInputPicker disabled logic
  frontend/README.md
  frontend/src/components/Display/index.css
  frontend/src/components/Display/index.tsx
  frontend/src/utils/schemas.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint --fix

fix: date input disabled
  frontend/src/components/Display/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: add TODO [no ci]
  TODO.md
Due: markdownlint --fix

fix: move cost to substance docs: update badges test: update for cost chore: update packages fix: DatePickerInput pointer
  backend/README.md
  backend/api.py
  backend/features/environment.py
  backend/features/steps/api.test.py
  docs/README.sh
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.css
  frontend/src/components/Display/index.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/interfaces/ISubstance.ts
  frontend/src/utils/interfaces/ISubstanceDisplay.ts
  frontend/src/utils/interfaces/IUser.ts
  frontend/src/utils/schemas.ts
  frontend/tests/utils/Helpers.ts
  frontend/tests/utils/Matchers.ts
  frontend/tests/utils/interfaces/ISubstance.test.ts
  frontend/tests/utils/interfaces/ISubstanceDisplay.test.ts
  frontend/tests/utils/interfaces/IUser.test.ts
  frontend/tests/utils/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint --fix

chore: update lockfile
  frontend/bun.lock
Due: none

fix: showCost && cost=0
  frontend/src/components/Settings/index.tsx
Due: biome check --write --no-errors-on-unmatched

fix: refresh after settings
  frontend/src/components/Settings/index.tsx
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{js,json,ts,tsx,yaml}) or (any of: *.css)
  stylelint --fix: any of: *.css
  html-validator --ignore-config=.htmlignore: any of: *.html
  markdownlint --fix: any of: *.md
