Repository chump29/sober: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

style: new linting
  .dockerignore
  .lintstagedrc
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/coin/index.tsx
  src/components/dashboard/index.tsx
  src/main.tsx
  src/setup.ts
  src/vite-env.d.ts
Due: biome check --write, markdownlint --fix

build: check files
  .lintstagedrc
  package.json
Due: biome check --write

build: fix ignore list
  biome.json
  package.json
Due: biome check --write

style: linting changes chore: update packages
  .dockerignore
  .husky/pre-commit
  .lintstagedrc
  .markdownlint.yaml
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/dashboard/index.tsx
  vite.config.ts
Due: biome check --write

style: different markdown linter
  .dockerignore
  .markdownlint.yaml
  .markdownlintignore
  build.sh
  package.json
  pnpm-lock.yaml
Due: biome check --write

chore: update packages style: tweak formatters/linters docs: update
  .gitea/workflows/build.yaml
  .stylelintignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  index.html
  package.json
  pnpm-lock.yaml
Due: biome check --write, html-validator --ignore-config=.htmlignore, markdownlint --fix

build: delete old package
  .gitea/workflows/build.yaml
Due: biome check --write

build: specify package to delete
  .gitea/workflows/build.yaml
Due: biome check --write

build: revert workflow
  .gitea/workflows/build.yaml
Due: biome check --write

style: update linter chore: update packages
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: biome check --write

chore: update packages build: add tsconfigs to Docker build
  .dockerignore
  package.json
  pnpm-lock.yaml
Due: biome check --write

style: change markdown linter
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
Due: biome check --write, markdownlint --fix

style: fix linter
  .vscode/settings.json
  biome.json
  compose.yaml
  package.json
  pnpm-lock.yaml
Due: biome check --write

chore: update packages
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/dashboard/index.tsx
  src/main.tsx
Due: biome check --write

chore: update packages
  .vscode/extensions.json
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --write

docs: update flow
  README.md
Due: markdownlint --fix

docs: fix warning
  README.md
Due: markdownlint --fix

style: fix spacing if no element
  src/components/dashboard/index.tsx
Due: biome check --write

chore: update packages refactor: change equation
  package.json
  pnpm-lock.yaml
  src/components/cost/index.test.tsx
  src/components/cost/index.tsx
  src/components/dashboard/index.tsx
Due: biome check --write

fix: lock file update
  pnpm-lock.yaml
Due: biome check --write

style: fix margin
  src/components/coin/index.tsx
  src/components/cost/index.tsx
Due: biome check --write

style: fix margin
  src/components/dashboard/index.tsx
Due: biome check --write

style: use padding insead of margin
  src/components/coin/index.tsx
  src/components/cost/index.tsx
Due: biome check --write

fix: linter settings chore: update packages
  .vscode/settings.json
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --write

chore: update packages style: change export for shared
  package.json
  pnpm-lock.yaml
  src/components/shared/index.tsx
Due: biome check --write

chore: update admin info
  Dockerfile
  package.json
Due: biome check --write

chore: update packages build: add post-commit
  .dockerignore
  .gitignore
  .husky/post-commit
  .husky/pre-commit
  .vscode/settings.json
  Dockerfile
  package.json
  packages.sh
  pnpm-lock.yaml
Due: biome check --write

docs: add screenshots
  .dockerignore
  README.md
  images/screenshot1.png
  images/screenshot2.png
Due: markdownlint --fix

chore: update packages
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: biome check --write

perf: fix script calls chore: update package
  Dockerfile
  build.sh
  pnpm-lock.yaml
  src/components/dashboard/index.tsx
Due: biome check --write

test: add coverage chore: update package fix: docker healthcheck
  Dockerfile
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --write

fix: healthcheck
  Dockerfile
Due: none

style: change HTML linter chore: update packages build: cache PNPM chore: update build action versions test: add more coverage style: using MUI
  .gitea/workflows/build.yaml
  .htmlignore
  .htmlvalidate.json
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  README.md
  biome.json
  index.html
  package.json
  pnpm-lock.yaml
  src/components/coin/index.test.tsx
  src/components/coin/index.tsx
  src/components/cost/index.test.tsx
  src/components/dashboard/index.test.tsx
  src/components/dashboard/index.tsx
  src/components/settings/index.test.tsx
  src/components/settings/index.tsx
  src/components/shared/index.test.tsx
  src/components/shared/index.tsx
  src/main.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: biome check --write, html-validator --ignore-config=.htmlignore, markdownlint --fix

chore: update biome
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/dashboard/index.tsx
Due: biome check --write

chore: update packages docs: update images
  README.md
  images/screenshot1.png
  images/screenshot2.png
  package.json
  pnpm-lock.yaml
Due: biome check --write, markdownlint --fix

revert: package
  README.md
  package.json
  pnpm-lock.yaml
Due: biome check --write, markdownlint --fix

docs: delete extra line build: change ignore style: explicit return type
  .dockerignore
  .husky/post-commit
  .husky/pre-commit
  README.md
  src/components/coin/index.test.tsx
  src/components/coin/index.tsx
  src/components/cost/index.test.tsx
  src/components/dashboard/index.test.tsx
  src/components/dashboard/index.tsx
  src/components/shared/index.test.tsx
  src/setup.ts
Due: biome check --write, markdownlint --fix

style: fix return type
  src/components/dashboard/index.tsx
Due: biome check --write

Path conditions:
  biome check --write: (any of: *.{js,json,ts,tsx,yaml}) or (any of: *.css)
  stylelint --fix: any of: *.css
  html-validator --ignore-config=.htmlignore: any of: *.html
  markdownlint --fix: any of: *.md
