Repository chump29/sober: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

chore: update packages
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Substances/index.tsx
  frontend/src/utils/schemas.ts
  frontend/tests/components/Settings/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: add script test: add env feat: JWT expire env var build: reduce bundles chore: random cleanup
  frontend/Dockerfile
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/env.ts
  frontend/src/main.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/interfaces/IEnv.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/schemas.ts
  frontend/tests/env.test.ts
  frontend/tests/utils/Matchers.ts
  frontend/tests/utils/index.test.ts
  frontend/tests/utils/interfaces/IEnv.test.ts
  frontend/tests/utils/jwt.test.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

test: add retry
  frontend/tests/components/Substances/index.test.tsx
Due: biome check --write --no-errors-on-unmatched

chore: update packages test: fix spy
  frontend/bun.lock
  frontend/package.json
  frontend/tests/api/index.test.ts
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/utils/index.test.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched

chore: update package
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: update packages docs: update badges test: fix/add for env
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/.dockerignore
  frontend/.env.test
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/env.ts
  frontend/tests/utils/env.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

style: added space if no coin chore: update package
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: update packages test: fix for hyphen docs: update badge style: nest CSS
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/index.css
  frontend/package.json
  frontend/tests/utils/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint --fix

chore: update package style: fix CSS selector fix: version display
  backend/uv.lock
  frontend/index.css
  frontend/src/main.tsx
Due: biome check --write --no-errors-on-unmatched, stylelint --fix

fix: valibot enum import chore: update packages feat: add HttpMethods const feat: use dedicated tabler icons
  backend/pyproject.toml
  backend/uv.lock
  frontend/Dockerfile
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/main.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/schemas.ts
  frontend/tests/api/index.test.ts
  frontend/tests/utils/interfaces/IFetchClient.test.ts
  frontend/tests/utils/schemas.test.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: IEnv chore: update packages fix: validate digits/decimal
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/env.ts
  frontend/src/utils/interfaces/IEnv.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/schemas.ts
  frontend/tests/env.test.ts
  frontend/tests/utils/Matchers.ts
  frontend/tests/utils/env.test.ts
  frontend/tests/utils/interfaces/IEnv.test.ts
  frontend/tests/utils/jwt.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages fix: promises docs: update badges
  .gitea/workflows/build.yaml
  README.md
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  docs/README.template.md
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/main.tsx
  frontend/src/utils/index.ts
  frontend/tests/components/Substances/index.test.tsx
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages
  backend/pyproject.toml
  backend/uv.lock
  frontend/.env
  frontend/bun.lock
  frontend/package.json
  frontend/tests/env.test.ts
Due: biome check --write --no-errors-on-unmatched

chore: update packages docs: update badges fix: env type
  README.md
  backend/features/environment.py
  backend/features/substances.py
  backend/pyproject.toml
  backend/uv.lock
  docs/README.template.md
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/env.ts
  frontend/src/utils/index.ts
  frontend/src/utils/jwt.ts
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Settings/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
  frontend/tests/env.test.ts
  frontend/tests/utils/Helpers.ts
  frontend/tests/utils/Substances.ts
  frontend/tests/utils/env.test.ts
  frontend/tests/utils/jwt.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

feat(backend): use ty, mimesis, python-box, secure chore: update packages test(backend): fix async
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/api.py
  backend/env.py
  backend/features/environment.py
  backend/features/fake.py
  backend/features/steps/api.test.py
  backend/gen_jwt.py
  backend/pyproject.toml
  backend/uv.lock
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages feat(backend): add mypy, bandit
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/api.py
  backend/env.py
  backend/features/environment.py
  backend/features/fake.py
  backend/features/steps/api.test.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages fix:(backend) env feat(backend): gen_jwt uses typer
  backend/.env
  backend/README.md
  backend/env.py
  backend/gen_jwt.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages ci(backend): add audit refactor(backend): cache stats
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/api.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages feat: use magic-regexp
  .gitea/workflows/build.yaml
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/env.ts
  frontend/src/utils/schemas.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

feat: added SOBER_URLS env var for CORS
  backend/api.py
  backend/env.py
Due: none

fix: whitelist
  backend/api.py
  backend/env.py
Due: none

fix: increase rate limit
  backend/api.py
Due: none

fix: add decorator for /version
  backend/api.py
Due: none

fix: move decorator
  backend/api.py
Due: none

fix: disable too-strict pen detection
  backend/api.py
Due: none

docs: update badges chore: update packages
  README.md
  backend/uv.lock
  docs/README.template.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/env.ts
  frontend/tests/components/Coin/index.test.tsx
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Settings/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
  frontend/tests/utils/env.test.ts
  frontend/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update package
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched

chore: update packages
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages fix: lint errors docs: update badge
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Substances/index.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages
  backend/.pre-commit-config.yaml
  backend/.python-version
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: remove always true returns
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched

fix: env usage
  .gitea/workflows/build.yaml
  backend/README.md
  backend/api.py
  backend/features/environment.py
  backend/features/steps/api.test.py
  frontend/README.md
  frontend/build.sh
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/env.ts
  frontend/src/utils/jwt.ts
  frontend/tests/env.test.ts
  frontend/tests/utils/jwt.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages
  .gitea/workflows/build.yaml
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/Dockerfile
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/env.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: script
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched

feat: rolling numbers
  .gitea/workflows/build.yaml
  backend/uv.lock
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.css
  frontend/src/components/Display/index.tsx
  frontend/src/utils/displayStore.ts
  frontend/src/utils/interfaces/IDisplay.ts
  frontend/tests/utils/Matchers.ts
  frontend/tests/utils/displayStore.test.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint --fix

fix: first day of week=sunday
  frontend/src/components/Display/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: update packages style: fix jsdoc for ts
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/src/utils/index.ts
  frontend/src/utils/interfaces/IFetchClient.ts
  frontend/src/utils/interfaces/ISubstance.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/schemas.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages tests: fix
  .gitea/workflows/build.yaml
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/api.py
  backend/pyproject.toml
  backend/uv.lock
  docs/README-frontend.template.md
  docs/README.sh
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{js,json,ts,tsx,yaml}) or (any of: *.css)
  stylelint --fix: any of: *.css
  html-validator --ignore-config=.htmlignore: any of: *.html
  markdownlint --fix: any of: *.md
