Repository chump29/sober: changes, and which lint-staged commands are due for each by the changed paths.
All: html-validator --ignore-config=.htmlignore, prettier --write, eslint --fix

build: alter steps
  .gitea/workflows/build.yaml
Due: prettier --write

build: alter runs-on
  .gitea/workflows/build.yaml
Due: prettier --write

build: fix runner labels
  .gitea/workflows/build.yaml
Due: prettier --write

build: manual build/push
  .gitea/workflows/build.yaml
Due: prettier --write

build: log in
  .gitea/workflows/build.yaml
Due: prettier --write

build: change label
  .gitea/workflows/build.yaml
Due: prettier --write

build: add manifest chore: update packages
  .gitea/workflows/build.yaml
  Dockerfile
  build.sh
  compose.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update
  .husky/pre-commit
  README.md
Due: prettier --write

fix: remove hard-coded architecture
  compose.yaml
Due: prettier --write

build: set up docker on runners since using ubuntu-slim now
  .gitea/workflows/build.yaml
Due: prettier --write

build: install sudo
  .gitea/workflows/build.yaml
Due: prettier --write

revert: using ubuntu-latest
  .gitea/workflows/build.yaml
Due: prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: add job dependencies
  .gitea/workflows/build.yaml
Due: prettier --write

style: change counter font
  eslint.config.js
  index.css
  package.json
  pnpm-lock.yaml
  src/components/coin/index.tsx
  src/components/dashboard/index.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

chore: remove import linting
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: no metadata
  .gitea/workflows/build.yaml
Due: prettier --write

chore: update packages, lock major build: update
  .gitea/workflows/build.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: testing build
  .gitea/workflows/build.yaml
Due: prettier --write

build: fix
  .gitea/workflows/build.yaml
Due: prettier --write

build: remove QEMU
  .gitea/workflows/build.yaml
Due: prettier --write

revert: build
  .gitea/workflows/build.yaml
Due: prettier --write

chore: update packages style: add linters feat: add soberDate param build: remove apt cache docs: update for linters
  .lintstagedrc
  .markdownlint.yaml
  .markdownlintignore
  .stylelintignore
  .stylelintrc
  .vscode/extensions.json
  .vscode/settings.json
  Dockerfile
  README.md
  index.css
  package.json
  pnpm-lock.yaml
  src/components/coin/index.tsx
  src/components/dashboard/index.tsx
Due: prettier --write, eslint --fix

style: fix imports
  .stylelintrc
  index.css
Due: prettier --write

build: remove useless cmd
  Dockerfile
Due: none

chore: update packages docs: reformat
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update description/keywords
  README.md
  package.json
Due: prettier --write

build: cache npm build: change local tag
  Dockerfile
  build.sh
Due: none

refactor: local build chore: update packages docs: update
  README.md
  build.sh
  docker.sh
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages build: fix scripts
  build.sh
  docker.sh
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update header chore: update packages
  .markdownlint.yaml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update packages
  Dockerfile
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: update label
  Dockerfile
Due: none

build: add workdir
  Dockerfile
Due: none

chore: add types
  eslint.config.js
  src/components/coin/index.tsx
  src/components/dashboard/index.tsx
  src/main.tsx
Due: prettier --write, eslint --fix

docs: fix markdown for GH
  .markdownlint.yaml
  README.md
Due: prettier --write

build: cleanup chore: update packages, types
  .dockerignore
  .gitea/workflows/build.yaml
  build.sh
  package.json
  pnpm-lock.yaml
  src/components/dashboard/index.tsx
Due: prettier --write, eslint --fix

docs: update build: remove os update
  Dockerfile
  README.md
Due: prettier --write

docs: use table
  README.md
Due: prettier --write

Path conditions:
  html-validator --ignore-config=.htmlignore: any of: *.html
  prettier --write: (any of: *.{css,json,md,yaml}) or (any of: *.{ts,tsx})
  eslint --fix: any of: *.{ts,tsx}
