Repository chump29/sober: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

chore: update packages docs: update badge chore: update excludes
  backend/.dockerignore
  backend/pyproject.toml
  backend/uv.lock
  frontend/.dockerignore
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Settings/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: py/path-injection
  backend/api.py
Due: none

fix: py/path-injection
  backend/README.md
  backend/api.py
Due: markdownlint --fix

docs: fix logo
  README.md
Due: markdownlint --fix

fix: always recalculate cost chore: upgrade packages refactor: switch
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
Due: biome check --write --no-errors-on-unmatched

chore: update packages docs: update badges
  backend/.pre-commit-config.yaml
  backend/uv.lock
  docs/README.sh
  docs/README.template.md
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

feat: envin feat: Optional/Nullable/Nullish chore: update package
  frontend/bun.lock
  frontend/env.config.ts
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/main.tsx
  frontend/src/utils/displayStore.ts
  frontend/src/utils/index.ts
  frontend/src/utils/interfaces/IDisplay.ts
  frontend/src/utils/interfaces/IFetchClient.ts
  frontend/src/utils/interfaces/ISubstance.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/schemas.ts
  frontend/src/vite-env.d.ts
  frontend/tests/api/index.test.ts
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Settings/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
  frontend/tests/utils/displayStore.test.ts
  frontend/tests/utils/index.test.ts
  frontend/tests/utils/jwt.test.ts
  frontend/tests/utils/schemas.test.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched

fix: URL fallback
  frontend/env.config.ts
  frontend/src/api/index.ts
  frontend/src/utils/schemas.ts
Due: biome check --write --no-errors-on-unmatched

tests: fix docs: update badge
  frontend/README.md
  frontend/tests/utils/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

feat: add time chore: upgrade packages
  TODO.md
  backend/README.md
  backend/api.py
  backend/features/environment.py
  backend/features/steps/api.test.py
  backend/pyproject.toml
  backend/uv.lock
  docs/README-frontend.template.md
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.css
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/main.tsx
  frontend/src/utils/displayStore.ts
  frontend/src/utils/index.ts
  frontend/src/utils/interfaces/IDisplay.ts
  frontend/src/utils/interfaces/ISubstance.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/schemas.ts
  frontend/tests/api/index.test.ts
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Settings/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
  frontend/tests/utils/Helpers.ts
  frontend/tests/utils/displayStore.test.ts
  frontend/tests/utils/index.test.ts
  frontend/tests/utils/jwt.test.ts
  frontend/tests/utils/schemas.test.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, markdownlint --fix

feat: option for no time chore: upgrade packages feat: logo is scaling image docs: update badges
  TODO.md
  backend/README.md
  backend/api.py
  backend/features/environment.py
  frontend/README.md
  frontend/bun.lock
  frontend/index.css
  frontend/index.html
  frontend/package.json
  frontend/public/sober.png
  frontend/src/components/Display/index.css
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/utils/interfaces/ISubstance.ts
  frontend/src/utils/schemas.ts
  frontend/tests/utils/Helpers.ts
  frontend/tests/utils/Matchers.ts
  frontend/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, stylelint --fix, html-validator --ignore-config=.htmlignore, markdownlint --fix

fix: change type if cost=0 fix: hour fix: time reset fix: confirm date display
  TODO.md
  frontend/README.md
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/utils/schemas.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

style: fix login position test: fix substance remove docs: update coverage badge
  TODO.md
  frontend/README.md
  frontend/src/components/Display/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/tests/components/Substances/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

refactor: env chore: update packages
  backend/.env
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/api.py
  backend/features/environment.py
  backend/pyproject.toml
  backend/uv.lock
  docs/README-frontend.template.md
  frontend/.env
  frontend/.env.test
  frontend/.husky/pre-commit
  frontend/README.md
  frontend/bun.lock
  frontend/env.config.ts
  frontend/env.ts
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/utils/index.ts
  frontend/src/utils/jwt.ts
  frontend/src/utils/schemas.ts
  frontend/tests/utils/index.test.ts
  frontend/tests/utils/jwt.test.ts
  frontend/tests/utils/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: env
  docs/README-frontend.template.md
  frontend/.env
  frontend/README.md
  frontend/env.ts
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/utils/index.ts
  frontend/src/utils/jwt.ts
  frontend/tests/utils/jwt.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

docs: remove extra info feat: venvalid chore: upgrade packages fix: default URL fix: envalid vars fix: promises fix: default component exports
  README.md
  backend/.dockerignore
  backend/.env
  backend/README.md
  backend/api.jwt.py
  backend/api.py
  backend/api.rest
  backend/env.py
  backend/features/steps/api.test.py
  backend/pyproject.toml
  backend/test.sh
  backend/uv.lock
  docs/README-backend.template.md
  docs/README-frontend.template.md
  docs/README.template.md
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/api/index.ts
  frontend/src/components/Display/index.tsx
  frontend/src/components/Settings/index.tsx
  frontend/src/components/Substances/index.tsx
  frontend/src/env.ts
  frontend/src/main.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/jwt.ts
  frontend/tests/components/Display/index.test.tsx
  frontend/tests/components/Settings/index.test.tsx
  frontend/tests/components/Substances/index.test.tsx
  frontend/tests/utils/index.test.ts
  frontend/tests/utils/jwt.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: typo
  backend/.pre-commit-config.yaml
Due: biome check --write --no-errors-on-unmatched

ci: check out cspell.json
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: fix clean
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: debug dir
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: debug chore: update packages
  .gitea/workflows/build.yaml
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lock
  frontend/package.json
Due: biome check --write --no-errors-on-unmatched

ci: fix paths, add copy
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: fix path
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: fix paths
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: paths again
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: debug
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: specify config path
  .gitea/workflows/build.yaml
  backend/.pre-commit-config.yaml
Due: biome check --write --no-errors-on-unmatched

ci: more changes to paths
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: fix config
  backend/.pre-commit-config.yaml
Due: biome check --write --no-errors-on-unmatched

ci: still fixing paths
  .gitea/workflows/build.yaml
  backend/.pre-commit-config.yaml
Due: biome check --write --no-errors-on-unmatched

ci: path
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: path path
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

ci: remove debug
  .gitea/workflows/build.yaml
Due: biome check --write --no-errors-on-unmatched

fix: env files, API URL docs: update badges
  backend/README.md
  backend/pyproject.toml
  frontend/.dockerignore
  frontend/.env.production
  frontend/README.md
  frontend/src/env.ts
  frontend/src/utils/schemas.ts
  frontend/tests/utils/schemas.test.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: allow empty string
  frontend/src/env.ts
  frontend/src/utils/schemas.ts
Due: biome check --write --no-errors-on-unmatched

fix: env
  docs/README-frontend.template.md
  frontend/.env.production
  frontend/README.md
  frontend/src/api/index.ts
  frontend/src/env.ts
  frontend/src/utils/schemas.ts
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

fix: boolean validation chore: update package feat: cli for JWT gen
  backend/.dockerignore
  backend/api.jwt.py
  backend/api.rest
  backend/gen_jwt.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/env.ts
  frontend/src/main.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/schemas.ts
  frontend/tests/utils/index.test.ts
  frontend/tests/utils/schemas.test.ts
  frontend/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

chore: update packages
  backend/.pre-commit-config.yaml
  backend/README.md
  backend/pyproject.toml
  backend/uv.lock
  docs/README.sh
  frontend/.stylelintrc
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Display/index.tsx
  frontend/src/main.tsx
Due: biome check --write --no-errors-on-unmatched, markdownlint --fix

Path conditions:
  biome check --write --no-errors-on-unmatched: (any of: *.{js,json,ts,tsx,yaml}) or (any of: *.css)
  stylelint --fix: any of: *.css
  html-validator --ignore-config=.htmlignore: any of: *.html
  markdownlint --fix: any of: *.md
